.App{
  background-color: #FFA113;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.banner{
  /* width: 50%; */
  flex: .8;
  padding: 2.5rem;
}

.headline{
    font-size: 2rem;
    line-height: 4rem;
    
  color: rgb(41, 40, 40);
}

.tagline{
  color: rgb(58, 57, 57);
  margin-top: 1.5rem;
  line-height: 1.2rem;
}

.animationbackrgound{
  /* flex: .5; */
}

.icons{
  margin-top: 1.5rem;
}